.git
.gitignore
.idea/
.vscode/
**/.DS_Store
*.log
*.test
coverage.out
dist/
tmp/
microservice
problem.md
docs/
platform-gateway/**
*-service/**
!platform-gateway/migrations/
!platform-gateway/migrations/**
!*-service/migrations/
!*-service/migrations/**
